<%- include('../partials/header') %>

<h2>Cadastrar Empréstimo</h2>

<form method="POST" action="/emprestimos/cadastrar">
  <label>Livro:</label>
  <input type="text" name="livro" required /><br><br>

  <label>Usuário:</label>
  <input type="text" name="usuario" required /><br><br>

  <label>Data Empréstimo:</label>
  <input type="date" name="data_emprestimo" required /><br><br>

  <label>Data Devolução:</label>
  <input type="date" name="data_devolucao" /><br><br>

  <button type="submit">Cadastrar</button>
</form>

<a href="/emprestimos/listar">Voltar</a>

<%- include('../partials/footer') %>
