<%- include('../partials/header') %>

<h1>Empréstimos</h1>
<table>
  <tr><th>ID</th><th>Livro</th><th>Usuário</th><th>Data</th><th>Ações</th></tr>
  <tr><td>1</td><td>Dom Casmurro</td><td>João</td><td>05/11</td><td><a href="/emprestimos/editar">Editar</a></td></tr>
</table>
<a href="/emprestimos/cadastrar">Cadastrar Empréstimo</a>

<%- include('../partials/footer') %>
