<%- include('../partials/header') %> <% title = 'Cadastrar Livro' %>

<form method="POST" action="/livros/cadastrar?sessao=logado">
  <input type="text" name="titulo" placeholder="Título" required /><br><br>
  <input type="text" name="autor" placeholder="Autor" required /><br><br>
  <input type="number" name="ano" placeholder="Ano" required /><br><br>
  <button>Salvar</button>
  <a href="/livros?sessao=logado">Cancelar</a>
</form>

<%- include('../partials/footer') %>
