<%- include('../partials/header') %>

<h1>Cadastrar Usuário</h1>

<form method="POST" action="/usuarios/cadastrar">
  <label>Nome:</label>
  <input type="text" name="nome" required /><br><br>

  <label>Email:</label>
  <input type="email" name="email" required /><br><br>

  <label>Senha:</label>
  <input type="password" name="senha" required /><br><br>

  <button type="submit">Cadastrar</button>
</form>

<a href="/usuarios/listar">Voltar</a>

<%- include('../partials/footer') %>
